*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: black;
    margin-bottom: 2rem;
    padding: 1rem;
}

.navbar a{
    color: whitesmoke;

}

.about-container  {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Poppins',sans-serif;
    line-height: 1.6;
    color: #333;
}

.about-container h1{
    font-size: 2.5rem;
    color: #222;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    
}
.about-container h2{
    font-size: 1.8rem;
    color: #6a0dad;
    margin-top: 30px;

}
.about-container p {
    font-size: 1.1rem;
    margin-top: 10px;
}

.links{
    background-color:#161b22;
    color: #c9d1d9;
    border: 1px solid #30363d;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight:500;
    transition: all 0.3 ease;
    
}

.links:hover{
    background-color:#007acc; ;
    color: #fff;
    transform :translate(-3px);
    box-shadow: 0 4px 10px rgba(35,134,54,0,4);
}

footer{
    margin: auto;
    padding-top:20px;
}
.footer {
    display: flex;
    justify-content: center;
    gap:15px;
    padding:20px;
    background-color:#0d1117;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}



.contact-container{
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Poppins',sans-serif;
    line-height: 1.6;
}

.contact-container h1,h2{
    color: #222;
}

.contact-container a {
    color: #6a0dad;
    margin-right: 10px;
}

.contact-container a:hover{
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

input textarea {
   padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

input textarea:focus {
  border-color: #6a0dad;
  box-shadow: 0 0 5px rgba(106, 13, 173, 0.5);
}
button{
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
button :hover{
    background-color: #8a2be2;
}

.content-grid{
    display:flex;
    gap:20px;
    justify-content: center;
    flex-wrap:wrap;
}

.card{
    width: 250px;
    padding:15px;
    border:1px solid #ddd;
    border-radius:8px;
    text-align:center;
    background:#f9f9f9;
}
.card img{
    width:100%;
   margin-bottom:10px;
}